@model IEnumerable<WebApplication4.Models.Phone>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Phone_number)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone_type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Country_code)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Area_code)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Created_on)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Updated_on)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Phone_number)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone_type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Country_code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Area_code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Created_on)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Updated_on)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Phone_id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Phone_id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Phone_id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
