@model WebApplication4.Models.Email

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Email</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email_type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email_type)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Created_on)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Created_on)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Updated_on)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Updated_on)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Email_student">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
